.general-background{
    width: 100vw;
    height: 100vh;
    
}

.login2-lista_funciones{
    min-width:  95rem;
    border-radius: 4rem 4rem 4rem 4rem;
    margin-left: -28rem;
    height: 40rem;
    
}

.div1{
   margin-top: -5rem;
    
}